@page "/about"

<PageTitle>About</PageTitle>

<h1>About</h1>

<img src="~/profile.jpg"/>

<p>Hi I'm Dashmir 😀</p>

<p>I am a student of University Mother Teresa at Faculty of Informatics 👨‍💻</p>

<p>Currently I am at sixth semester.</p>

<p>I started the University 2018 when I was 19 years old. That's 4 years ago. Since then I have learned a lot of things. I have joined a lot of new classes and met a lot of new friends.</p>

<p>My favorite programming language is C#</p>