@page "/articles"

<PageTitle>Articles</PageTitle>

<h1>Articles</h1>

<ul>
    @foreach (var articleName in articleNames)
    {
        <li><a href="/articles/@articleName">@articleName</a></li>
    }
</ul>

@code {
    private List<string> articleNames = new List<string> { "article1", "article2", "article3" };
}