@page "/projects"

<PageTitle>Projects</PageTitle>

<h1>Projects</h1>


@foreach (var projectName in projectNames)
{
    <div class="card mb-3" style="width: 100%">
        <a href="/projects/@projectName" class="stretched-link d-flex justify-content-center align-items-center" style="height: 100%; display: flex; justify-content: center;">
            <span class="oi oi-document" aria-hidden="true" style="font-size: 3em;"></span>
            <div class="card-body text-center">
                <h5 class="card-title">@projectName</h5>
                <p class="card-text">Testing the paragraph with some text</p>
            </div>
        </a>
    </div>
}

@code {
    private List<string> projectNames = new List<string> { "project1", "project2", "project3", "project4", "project5", "project6" };
}