@page "/projects"

<PageTitle>Projects</PageTitle>

<h1>Projects</h1>

@foreach (var projectName in projectNames)
{
    <div class="card mb-3">
        <a href="/projects/@projectName">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <div class="icon-span d-flex align-items-center justify-content-center" style="height: 100%;">
                        <span class="oi oi-document icon" style="font-size: 3em;"></span>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">@projectName</h5>
                        <p class="card-text">Testing the paragraph with some text</p>
                    </div>
                </div>
            </div>
        </a>
    </div>
}

@code {
    private List<string> projectNames = new List<string> { "project1", "project2", "project3", "project4", "project5", "project6" };
}